<h1>Editing Post</h1>

<%= form_for :diet, url: diet_path(@diet), method: :patch do |d| %>

	<p>
		<%= d.label :title %>
		<%= d.text_field :title %>
	</p>

	<p>
		<%= d.label :text %>
		<%= d.text_field :text %>
	</p>

	<%= d.submit %>

<% end %>

<br/>
<%= link_to "Back", controller: "diets" %>
